.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 20px;
  line-height: 40px;
}

.dialogItems {}

.dialog {
  font-size: 25px;
}

.massges {}

.massge {
  font-size: 20px;
}

.dialogAva{
  display: inline-block;
  margin-right: 10px;
}

.dialogAva img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}